.slider {
	position: relative;
	overflow: hidden;
	max-width: 100%;
}

.slider img {
	width: 100%;
	display:block;
}

.resize {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}


.handle { /* Thin line seperator */
	position:absolute;
	left:50%;
	top:0;
	bottom:0;
	width:4px;
	margin-left:-2px;

	background: rgba(0,0,0,.5);
	cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
	position: absolute;
	top: 50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;

	content:'\21d4';
	color:white;
	font-weight:400;
	font-size:18px;
	text-align:center;
	line-height:32px;

	background: hsl(0, 0%, 10%);
	border:1px solid hsl(0, 0%, 0%);
	border-radius: 50%;
	transition:all 0.3s ease;
	box-shadow:
		0 2px 6px rgba(0,0,0,.3),
		inset 0 2px 0 rgba(255,255,255,.5),
		inset 0 60px 50px -30px hsl(0, 0%, 20%);
}

.draggable:after {
	width: 24px;
	height: 24px;
	margin: -12px 0 0 -12px;
	line-height:24px;
	font-size:18px;
}

p.caption {
	margin-top: 0;
}
